@model IEnumerable<StaffManagementMicroservice.Models.StaffPermissions>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFullName)
            </td>
            <td>
                <a asp-action="AddPermissions" asp-route-StaffID="@item.StaffID">Add Permissions</a> |
                <a asp-action="DeletePermissions" asp-route-StaffID="@item.StaffID">Delete Permissions</a>
            </td>
        </tr>
}
    </tbody>
</table>
